body {
    background-color: black;
    padding: 10px;
    width: 100%;
}

.Logo {
    padding: 5rem;
}

.Links {
    display: flex;
    flex-direction: row;
    margin-top: -97px;
    margin-left: 20rem;
}

.Link {
    text-decoration: none;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 140% */
    color: #FFFFFF;
    margin-left: 15px;
}

.Title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 83px;
    /* identical to box height, or 115% */
    letter-spacing: -1.6px;
    color: #FFFFFF;
    display: flex;
    align-items: flex-start;
    padding: 5rem;
}

.Main-text {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 33px;
    /* or 150% */
    text-align: left;
    color: #FFFFFF;
    display: flex;
    align-items: flex-start;
    padding: 5rem;
    margin-top: -10rem;

}

.Photo {
    display: flex;
    margin-left: 680px;
    margin-top: -32rem;
}

@Media only screen and (min-width: 600px) {
    
    .Photo {
        display: flex;
        padding: 5px;
    }


}
