body {
    background-color: black;
    padding: 10px;
    width: 100%;
}

.Logo {
    padding: 5rem;
}

.toggle-button {
    position: absolute;
    top: 9px;
    right: 16px;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    width: 30px;
    height: 100px;
    border-radius: 40px;
}

.toggle-button .Bar {
    height: 3px;
    width: 100%;
    background-color: grey;
    border-radius: 10px;
}

.Links {
    display: flex;
    flex-direction: row;
    margin-top: -105px;
    margin-left: 20rem;
}

.Link {
    text-decoration: none;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height, or 140% */
    color: #FFFFFF;
    margin-left: 15px;
}

.Title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 83px;
    /* identical to box height, or 115% */
    letter-spacing: -1.6px;
    color: #FFFFFF;
    display: flex;
    align-items: flex-start;
    padding: 5rem;
}

.Main-text {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 33px;
    /* or 150% */
    text-align: left;
    color: #FFFFFF;
    display: flex;
    align-items: flex-start;
    padding: 5rem;
    margin-top: -10rem;

}

.Photo {
    display: flex;
    margin-left: 680px;
    margin-top: -32rem;
}

@Media screen and (max-width: 800px) {

    .Title {
        font-size: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Links {
        display: flex;
        flex-direction: row;
        margin-top: -97px;
        margin-left: 28rem;
    }

    .Main-info {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Main-text {
        text-align: center;
    }

    .Photo {
        display: flex;
        margin-left: 5rem;
        margin-top: 4px;
    }

}

@Media screen and (max-width: 600px) {

    .toggle-button {
        display: flex;
        margin-top: 100px;
    }

    .Links {
        display: none;
    }

    .Photo {
        margin-left: 1px;
    }
}